# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Large ML artifacts (do NOT push models directly)
artifacts/models/*.joblib
artifacts/deep_learning/*.h5

